<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Sansita:400,800,800i,900i" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--adding icons by using font awesome-->
          <a href ="/" class="navbar-brand"><i class="fa fa-youtube-square"> YouTube</i></a>
          <a href ="/" class="navbar-brand"><i class="fa fa-facebook"> FaceBook</i></a> 
          
          <!--this is the Rails way to link to another page -->
          <%= link_to root_path, class:"navbar-brand" do %>
          <i class="fa fa-amazon"></i>
          Amazon
          <% end %>
          
          <!--this is the Rails way to write it---------- the "=" is only used to inject things -->
          <%= link_to "/", class:"navbar-brand" do %>
          <i class="fa fa-github-alt"></i>
          GitHub
          <% end %>
        </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/about"> About</a>
            <!--this is the Rails way-->
            <li><%= link_to "Q/A", "/qa" %></li>
            <!--this is the rails way-->
            <li><%= link_to "Info", info_path %></li>
                                      <!--new_contact_path is not the same as newform. this is the path used by Rails-->
            <li><%= link_to "Contact Me!", contacts_new_path %></li>
          </li>
        </ul>
      </div>
      </div>
    </nav>
    <!--this is a bootstrap class container-->
    <!--<div class = "container"> we will get rid of this for us to have more control on the page-->
    <%= yield %>
    <!--</div>-->
  </body>
</html>
